# Hugeicons Pro (the duotone icons on the selected sidebar row). The key comes from HUGEICONS_LICENSE_KEY in the
# untracked .env; without it the Pro package is skipped and the free stroke icons stand in.
@hugeicons-pro:registry=https://npm.hugeicons.com/
//npm.hugeicons.com/:_authToken=${HUGEICONS_LICENSE_KEY}
